<section class="section section--border">
	<div class="container">
		<h2 class="section__title">Featured Designs</h2>

		<div class="cards">
		{% for product in products %}
			{{ macros.card(product) }}
		{% endfor %}
		</div>


		<div class="button-wrapper">
			<a class="button" href="/wikiblock/designs">View All Designs</a>
		</div>

	</div>
</section>