<section class="section s-quote">
	<div class="s-quote__inner">
		<blockquote class="s-quote__quote">
			{{ page.quote_text }}
		</blockquote>
		<span class="s-quote__attribution">
			{{ page.quote_attribution }}
		</span>
	</div>
</section>